@charset "UTF-8";
/* px to rem */
* {
  padding: 0;
  margin: 0;
  list-style: none; }

/*通用*/
.bg-gray {
  background-color: #f5f5f5; }

@media screen and (max-width: 900px) {
  .i-buttons.button {
    margin: 5px 10px; } }

.pc-head {
  background-image: url("../img/head-bg.png");
  background-size: 100% auto;
  height: 160px; }
  .pc-head .head-content {
    width: 1000px;
    height: 100%;
    margin: auto;
    position: relative; }
  .pc-head .logo {
    background-image: url("../img/xbx-logo.png");
    margin-top: 50px;
    width: 219px;
    height: 69px;
    background-size: 100% auto;
    display: inline-block; }
  .pc-head .edition {
    background-image: url("../img/edition.png");
    width: 46px;
    height: 66px;
    background-size: 100% auto;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -33px;
    line-height: 66px;
    text-align: center;
    font-size: 18px;
    color: #fff; }

.pc-body {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  margin-top: 60px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .pc-body .text1 {
    font-size: 14px; }
  .pc-body h1 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #333; }
  .pc-body h2 {
    font-size: 16px;
    margin: 10px 0;
    color: #666;
    margin-left: 20px; }
  .pc-body h3 {
    font-size: 14px;
    margin: 10px 0;
    color: #666; }
  .pc-body pre {
    background-color: #f5f5f5;
    border-left: 5px solid #D7DBE4;
    padding: 0 10px;
    margin-top: 10px; }
    .pc-body pre code {
      white-space: pre-wrap; }
  .pc-body .nav {
    display: inline-block;
    width: 162px;
    border-right: 1px solid #ddd; }
    .pc-body .nav ul li {
      font-size: 14px;
      height: 50px;
      line-height: 50px;
      color: #707070;
      cursor: pointer; }
      .pc-body .nav ul li span {
        color: #aaa;
        margin-left: 10px; }
    .pc-body .nav .active, .pc-body .nav .active span {
      color: #ff6622; }
    .pc-body .nav .active {
      border-right: 5px solid #ff6622; }
  .pc-body .content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 20px;
    position: relative; }
    .pc-body .content .introduce {
      width: 384px; }
    .pc-body .content .phone {
      background-image: url("../img/demo-phone.png");
      width: 456px;
      height: 842px;
      background-size: 100% auto;
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      top: 0; }
      .pc-body .content .phone iframe {
        background-color: #f5f5f5;
        border-radius: 2px;
        margin: auto;
        width: 320px;
        height: 568px;
        position: relative;
        left: 70px;
        top: 118px;
        border: none; }
    .pc-body .content h1 {
      font-size: 18px;
      color: #333;
      margin-bottom: 55px; }
    .pc-body .content table {
      margin: 10px 0;
      font-size: 14px;
      color: #333;
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd; }
      .pc-body .content table td, .pc-body .content table th {
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        padding: 10px 20px; }
    .pc-body .content .preview-icon {
      background-color: #f5f5f5; }
      .pc-body .content .preview-icon div {
        text-align: center; }
      .pc-body .content .preview-icon p {
        font-size: 14px; }
    .pc-body .content .color-body {
      padding: 10px; }
    .pc-body .content .color-body > div {
      height: 40px;
      line-height: 40px;
      margin-bottom: 10px; }
    .pc-body .content .color {
      width: 200px;
      height: 40px;
      border-radius: 5px;
      display: inline-block;
      margin-right: 10px;
      float: left; }
    .pc-body .content .color-theme {
      background-color: #ff6622; }
    .pc-body .content .color-white {
      background-color: #fff; }
    .pc-body .content .color-light {
      background-color: #ddd; }
    .pc-body .content .color-stable {
      background-color: #ccc; }
    .pc-body .content .color-positive {
      background-color: #2a97ec; }
    .pc-body .content .color-alert {
      background-color: #f7424f; }
    .pc-body .content .color-energized {
      background-color: #feda13; }
    .pc-body .content .color-dark {
      background-color: #333; }
    .pc-body .content .photobg {
      margin: 10px 0;
      padding: 10px; }
    .pc-body .content .photobg > div {
      display: inline-block;
      margin: 0 10px; }
    .pc-body .content .photobg > div span {
      width: 40px;
      height: 40px;
      display: inline-block;
      border-radius: 5px; }
    .pc-body .content .photo-color-1 {
      background-color: #ff6e48; }
    .pc-body .content .photo-color-2 {
      background-color: #e3547f; }
    .pc-body .content .photo-color-3 {
      background-color: #6090cd; }
    .pc-body .content .photo-color-4 {
      background-color: #fec42c; }
    .pc-body .content .photo-color-5 {
      background-color: #49c5d8; }
    .pc-body .content .photo-color-6 {
      background-color: #90d355; }

.icon-row div {
  margin: 0.5rem; }

@media screen and (max-width: 800px) {
  .show-pc {
    display: none; } }

@media screen and (min-width: 800px) {
  .show-mobile {
    display: none; } }

.layout-bg {
  width: 700px;
  height: 1500px;
  background-image: url("../img/layout.png");
  background-size: 100% auto; }
