//定义变量与函数
/* px to rem */
@function temSize($num) {
  @return ceil($num /40*100)/100*1rem;
}
/*Cards卡片*/
.cards{
  background-color: #fff; position: relative;
  .header{min-height: temSize(80);border-bottom: 1px solid #ccc; margin-bottom: -1px;}
  .footer{min-height: temSize(80);border-top: 1px solid #ccc; margin-top: -1px;}
  .body{min-height: temSize(160);  }
  &:before{box-shadow: 0 0 temSize(40) rgba(29, 63, 140, 0.7);content: "";width: calc(100% - 1rem);height: temSize(50);border-radius:temSize(25);position: absolute;bottom:0;left:0.5rem;z-index: -1;}
}
.border-radius-20{border-radius: temSize(20);}
