//定义变量与函数
/* px to rem */
@function temSize($num) {
  @return ceil($num /40*100)/100*1rem
}

@mixin theme-color{color: #ff6622;} //主题颜色
@mixin theme-bg-color{background-color: #ff6622;} //主题背景色
@mixin theme-border-color{border-color: #ff6622;} //主题边框色
//项目中的
$img-poz:no-repeat; //图片不重复
$img-pozC:no-repeat center center; //图片不重复+定位方式
$img-pozT:no-repeat center top; //图片不重复+定位方式
$img-pozB:no-repeat center bottom; //图片不重复+定位方式
@mixin font-size-base{font-size:12px; font-size:1.2rem;} //默认字号
@mixin box-sizing-base{-webkit-box-sizing:border-box;box-sizing: border-box;}
@mixin opacity-base($opacity:70){-webkit-opacity:$opacity /100;opacity:$opacity /100;} //定义透明度，用于遮罩等
@mixin mask-base{left:0; top:0; right:0; bottom:0; width: 100%; height:100%; background-color:#000;} //遮罩代码提取
@mixin background-size100{-webkit-background-size:100% 100%; background-size:100% 100%;} //背景图片拉伸方式
@mixin background-size80{-webkit-background-size:80% 80%; background-size:80% 80%;} //背景图片拉伸方式
@mixin background-size-cover{-webkit-background-size: cover; background-size: cover;} //背景图片拉伸方式
@mixin background-size-s1{-webkit-background-size:100% auto; background-size:100% auto;} //背景图片拉伸方式
@mixin background-size-s2{-webkit-background-size:100% auto,100% auto; background-size:100% auto,100% auto;}//两张背景图片拉伸方式
@mixin background-size-s3{-webkit-background-size:auto 100%;background-size:auto 100%;} //背景图片拉伸方式
@mixin background-size($value1,$value2){-webkit-background-size:$value1 $value2; background-size:$value1 $value2;} //背景图片拉伸方式
@mixin face-radius{-webkit-border-radius:50%; border-radius:50%;} //圆形圆角
@mixin border-radius-basic($radius){-webkit-border-radius:$radius; border-radius:$radius;} //圆角自定义
@mixin border-radius-small{@include border-radius-basic(3px);}
@mixin border-radius-base{@include border-radius-basic(5px);}
@mixin border-radius-large{@include border-radius-basic(10px);}
@mixin border-radius-Mlarge{@include border-radius-basic(12px);}
@mixin border-radius-Xlarge{@include border-radius-basic(20px);}
@mixin transform-rotate($ratate){-webkit-transform: rotate($ratate); transform:rotate($ratate);}
@mixin background-linear($a,$b){background: $a; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$a), color-stop(100%,$b)); background: -webkit-linear-gradient(top, $a 0%,$b 100%); background: linear-gradient(to bottom, $a 0%,$b 100%);}
@mixin text-shadow-s1($shadow-color){
  text-shadow:$shadow-color 1px 0 0.5px,$shadow-color 0 1px 0.5px,$shadow-color -1px 0 0.5px,$shadow-color 0 -1px 0.5px;
  -webkit-text-shadow:$shadow-color 1px 0 0.5px,$shadow-color 0 1px 0.5px,$shadow-color -1px 0 0.5px,$shadow-color 0 -1px 0.5px;
}//文字加1px描边
@mixin text-shadow-s2($shadow-color2){
  text-shadow:$shadow-color2 1px 0 3px,$shadow-color2 0 1px 3px,$shadow-color2 -1px 0 3px,$shadow-color2 0 -1px 3px;
  -webkit-text-shadow:$shadow-color2 1px 0 3px,$shadow-color2 0 1px 3px,$shadow-color2 -1px 0 3px,$shadow-color2 0 -1px 3px;
}//文字加描边
@mixin text-shadow-s2_2($shadow-color2_2){
  text-shadow:$shadow-color2_2 3px 0 1px,$shadow-color2_2 0 -2.5px 1px,$shadow-color2_2 -2.5px 0 1px,$shadow-color2_2 0 3px 1px;
  -webkit-text-shadow:$shadow-color2_2 3px 0 1px,$shadow-color2_2 0 -2.5px 1px,$shadow-color2_2 -2.5px 0 1px,$shadow-color2_2 0 3px 1px;
}//微官网文字样式2_2
//#266364 3px 0 1px, #266364 0 -2.5px 1px, #266364 -2.5px 0 1px, #266364 0 3px 1px
@mixin text-shadow-s2_1($shadow-color2_1){
  text-shadow:$shadow-color2_1 0.5px 0.5px 2px,$shadow-color2_1 0.5px 0.5px 0px,$shadow-color2_1 0.5px 0.5px 2px,$shadow-color2_1 0.5px 0.5px 0px;
  -webkit-text-shadow:$shadow-color2_1 0.5px 0.5px 2px,$shadow-color2_1 0.5px 0.5px 2px,$shadow-color2_1 0.5px 0.5px 2px,$shadow-color2_1 0.5px 0.5px 2px;
}//微官网文字样式2_1

@mixin text-shadow-s2_3($shadow-color2_1){
  text-shadow:$shadow-color2_1 0 1px 3px,$shadow-color2_1 1px 0 3px,$shadow-color2_1 0 -1px 1px,$shadow-color2_1 -1px 0 1px;
  -webkit-text-shadow:$shadow-color2_1 0 1px 3px,$shadow-color2_1 1px 0 3px,$shadow-color2_1 0 -1px 1px,$shadow-color2_1 -1px 0 1px;
}//微官网文字样式2_3

@mixin text-shadow-s2_4($shadow-color2_1){
  text-shadow:$shadow-color2_1 1px 2px 0px,$shadow-color2_1 -1px 2px 0px;
  -webkit-text-shadow:$shadow-color2_1 1px 2px 0px,$shadow-color2_1 -1px 2px 0px;
}

@mixin text-shadow-s3{text-shadow:rgba(13,4,8,.11) 1px 1px 1px,rgba(13,4,8,.11) -1px -1px 1px; -webkit-text-shadow:rgba(13,4,8,.11) 1px 1px 1px,rgba(13,4,8,.11) -1px -1px 1px;}//文字加描边

@mixin box-shadow-s1{-webkit-box-shadow:2px 2px 5px rgba(13, 4, 8, 0.21),-2px -2px 5px rgba(13, 4, 8, 0.21); box-shadow:2px 2px 5px rgba(13, 4, 8, 0.21),-2px -2px 5px rgba(13, 4, 8, 0.21);}//投影
@mixin box-shadow-base($shadow-value){-webkit-box-shadow:$shadow-value; box-shadow:$shadow-value;}//自定义投影
@mixin t_overflow{overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}/* 超过宽度出现省略号... */
@mixin text-shadow-style{text-shadow: 0 1px 1px rgba(0,0,0,0.4);}
//end

*{font-family: "San Francisco","Roboto","PingFang SC","Noto Sans CJK SC","Microsoft YaHei","微软雅黑",Arial,sans-serif}
//文字对齐方式ionic 已经定义
//内边距 目前只有20、40、80 定义 全部 上下 左右 上 下 左 右
.padding-20{padding: temSize(20);}
.padding-lr20{padding-left: temSize(20);padding-right: temSize(20);}
.padding-tb20{padding-top: temSize(20);padding-bottom: temSize(20);}
.padding-t20{padding-top: temSize(20);}
.padding-l20{padding-left: temSize(20);}
.padding-r20{padding-right: temSize(20);}
.padding-b20{padding-bottom: temSize(20);}

.padding-40{padding: temSize(40);}
.padding-lr40{padding-left: temSize(40);padding-right: temSize(40);}
.padding-tb40{padding-top: temSize(40);padding-bottom: temSize(40);}
.padding-t40{padding-top: temSize(40);}
.padding-l40{padding-left: temSize(40);}
.padding-r40{padding-right: temSize(40);}
.padding-b40{padding-bottom: temSize(40);}

.padding-80{padding: temSize(80);}
.padding-lr80{padding-left: temSize(80);padding-right: temSize(80);}
.padding-tb80{padding-top: temSize(80);padding-bottom: temSize(80);}
.padding-t80{padding-top: temSize(80);}
.padding-l80{padding-left: temSize(80);}
.padding-r80{padding-right: temSize(80);}
.padding-b80{padding-bottom: temSize(80);}
//外边距 目前只有20、40、80 定义 全部 上下 左右 上 下 左 右
.margin-10{margin: temSize(10);}
.margin-lr10{margin-left: temSize(10);margin-right: temSize(10);}
.margin-tb10{margin-top: temSize(10);margin-bottom: temSize(10);}
.margin-t10{margin-top: temSize(10);}
.margin-l10{margin-left: temSize(10);}
.margin-r10{margin-right: temSize(10);}
.margin-b10{margin-bottom: temSize(10);}

.margin-20{margin: temSize(20);}
.margin-lr20{margin-left: temSize(20);margin-right: temSize(20);}
.margin-tb20{margin-top: temSize(20);margin-bottom: temSize(20);}
.margin-t20{margin-top: temSize(20);}
.margin-l20{margin-left: temSize(20);}
.margin-r20{margin-right: temSize(20);}
.margin-b20{margin-bottom: temSize(20);}

.margin-40{margin: temSize(40);}
.margin-lr40{margin-left: temSize(40);margin-right: temSize(40);}
.margin-tb40{margin-top: temSize(40);margin-bottom: temSize(40);}
.margin-t40{margin-top: temSize(40);}
.margin-l40{margin-left: temSize(40);}
.margin-r40{margin-right: temSize(40);}
.margin-b40{margin-bottom: temSize(40);}

.margin-80{margin: temSize(80);}
.margin-lr80{margin-left: temSize(80);margin-right: temSize(80);}
.margin-tb80{margin-top: temSize(80);margin-bottom: temSize(80);}
.margin-t80{margin-top: temSize(80);}
.margin-l80{margin-left: temSize(80);}
.margin-r80{margin-right: temSize(80);}
.margin-b80{margin-bottom: temSize(80);}

/*1px边 在安卓下可能有问题*/
.border-bottom-1::after { width: 500%; content: ""; position: absolute; bottom: 0; height: 1px; background: #ddd; left: 0;z-index: 0; -webkit-transform: scale(0.5); -webkit-transform-origin: 0 bottom; transform: scale(0.5); transform-origin: 0 bottom;}
.border-right-1::after { width: 1px; content: ""; position: absolute; right: 0; height: 500%; background: #ddd; top: 0;z-index: 0; -webkit-transform: scale(0.5); -webkit-transform-origin: 0 top; transform: scale(0.5); transform-origin: 0 top;}
.border-top-1::after { width: 500%; content: ""; position: absolute; top: 0; height: 1px; background: #ddd; top: 0;z-index: 0; -webkit-transform: scale(0.5); -webkit-transform-origin: 0 top; transform: scale(0.5); transform-origin: 0 top;}
.border-left-1::after { width: 1px; content: ""; position: absolute; left: 0; height: 500%; background: #ddd; top: 0;z-index: 0; -webkit-transform: scale(0.5); -webkit-transform-origin: 0 top; transform: scale(0.5); transform-origin: 0 top;}





/* 文字 */
.font-title{font-size: temSize(28); color: #333;}
.font-body{font-size: temSize(24); color: #333;}
.font-sub{font-size: temSize(28); color: #aaa;}
.font-help{font-size: temSize(20); color: #81a2cd;}
.text-shadow{text-shadow: 0 1px 4px #ddd; -webkit-text-shadow: 0 1px 4px #ddd; }
.font-popbody{font-size: temSize(20);color: #666;}


/* 按钮 */
//覆盖ionic
.button{overflow: hidden;}
.button-small1{font-size: temSize(20);height: temSize(60);min-height: temSize(60);line-height: temSize(60); width: temSize(120); border-radius: temSize(60); }
.button-small2{font-size: temSize(20);height: temSize(60);min-height: temSize(60);line-height: temSize(60); width: temSize(140); border-radius: temSize(60); }
.button-small3{font-size: temSize(24);height: temSize(60);min-height: temSize(60);line-height: temSize(60); width: temSize(160); border-radius: temSize(60); }
.button-small4{font-size: temSize(24);height: temSize(60);min-height: temSize(60);line-height: temSize(60); width: temSize(200); border-radius: temSize(60); }
.button-large{padding: 0 ;font-size: temSize(28);height: temSize(90);min-height: temSize(90);line-height: temSize(90); width: temSize(480); border-radius: temSize(90); }

.button.button-theme:hover{color: #fff;}
.button.button-themeGray:hover{color: #fff;}
.button.button-white:hover{@include theme-color;}
.button.button-whiteGray:hover{color: #ccc;}

.button.button-theme.activated{@include theme-bg-color;  border-color: transparent;}
.button.button-themeGray.activated{background-color: #ddd; border-color: transparent;}
.button.button-white.activated{background-color: #fff;border-color: transparent;}
.button.button-whiteGray.activated{background-color: #fff;border-color: transparent;}
//.button.button-block, .button.button-full{margin: 0}
.button.button-full{border-radius: 0; width: 100%;font-size: temSize(28);height: temSize(100);;min-height: temSize(100); line-height: temSize(100);}

.button-theme{@include theme-bg-color; color: #fff;}
.button-themeGray{background-color: #ddd;color: #fff;}
.button-white{background-color: #fff;@include theme-color;}
.button-whiteGray{background-color: #fff;color: #ccc;}

.button.button-theme.button-outline{  @include theme-border-color;border-width: 2px; background: transparent; @include theme-color; line-height: temSize(56);}
.button.button-themeGray.button-outline{border-color: #ddd;background: transparent;color: #ddd;line-height: temSize(56);}
.button.button-white.button-outline{border-color: #fff;background: transparent; color: #fff;line-height: temSize(56);}
//待核实
.button.button-theme.button-clear { border-color: transparent; background: none; box-shadow: none; @include theme-color;}

/*toggle*/
//覆盖ionic
.toggle input:checked + .track{@include theme-bg-color;@include theme-border-color;  }
.toggle .track{height:temSize(50);width: temSize(100); }
.toggle .handle{height:temSize(44);width: temSize(44);}
.toggle input:checked + .track .handle {-webkit-transform: translate3d(temSize(50), 0, 0);  transform: translate3d(temSize(50), 0, 0);  background-color: #fff;}

/*单选复选*/
//覆盖ionic
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  @include theme-bg-color;@include theme-border-color;
}
.checkbox input, .checkbox-icon{ width: temSize(40);height: temSize(40);}
.checkbox input:before, .checkbox-icon:before{border-radius: temSize(20);}
.checkbox input:after, .checkbox-icon:after{width: temSize(22);height: temSize(11);border: 2px solid #fff;border-top: 0;border-right: 0;}
.item-checkbox .checkbox{top:50%;left: temSize(40);right: 0; margin-top: temSize(-20);}
.checkbox{padding: 0;}
.item-checkbox .item-content{ height: temSize(40);line-height: temSize(40);}
//模仿多选按钮重写单选按钮样式
.item-radio input:checked + .radio-content .item-content{background-color: #fff;}
.item-radio .radio-icon {
  position: absolute;
  width: temSize(40);
  height: temSize(40);
  top: 50%;
  margin-top: temSize(-20);
  right: temSize(20);
  z-index: 3;
  visibility: hidden;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
}
.ion-checkmark:before {
  content:' ';
  width: 100%;
  height: 100%;
  border-radius: temSize(40);
  @include theme-bg-color;
  position: absolute;
  top:0;

}
.ion-checkmark:after {
  -webkit-transition: opacity 0.05s ease-in-out;
  transition: opacity 0.05s ease-in-out;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 33%;
  left: 25%;
  display: table;
  width: temSize(22);
  height: temSize(11);
  border: 2px solid #fff;
  border-top: 0;
  border-right: 0;
  content: ' ';

}
.item-radio .radio-icon{padding: 0;}
.radio-content{padding-right: temSize(60); height: temSize(40);line-height: temSize(40);}
/*列表*/
//覆盖ionic
.item{ padding: temSize(20) temSize(40); height: temSize(80);color: #333;}
.item-checkbox{ padding-left: temSize(120) !important;}
.item-radio .item-content{padding: 0;}

/*时间选择器*/
.dwcc{border-bottom: 1px solid #ddd;border-top: 1px solid #ddd; padding: temSize(20) 0;}
.mbsc-material .dwwr{background: #fff;}
.mbsc-material .dwv{color: #333; font-weight: normal;}
.mbsc-material .dwwb{background-color: #fff;color: #333;}
.mbsc-material .dwwb:before{color: #bbb;}
.mbsc-material .dwpm .dwwol{display: none}//数值中间一横
.dwwl.dwwl1:after{content: '/';position: absolute; top: 50%; right: 0;margin-top: temSize(-16);margin-right: temSize(-7);font-size: temSize(28);color: #333;}
.dwwl.dwwl1:before{content: '/';position: absolute; top: 50%; left: 0;margin-top: temSize(-16);margin-left: temSize(-7);font-size: temSize(28);color: #333;}
.dwwl.dwwl4:before{content: ':';position: absolute; top: 50%; left: 0;margin-top: temSize(-16);margin-left: temSize(-7);font-size: temSize(28);color: #333;}
.mbsc-material .dw-li{color: #bbb;font-size: temSize(24)}
.dw-li.dw-v.dw-sel{font-size: temSize(28);color: #333;}
.mbsc-material .dwb{color: #333; font-size: temSize(20);font-weight: normal;text-align: center; height: temSize(100);line-height: temSize(100)}
.dwbw.dwb-s>div{@include theme-color;}
.mbsc-material .dwbw{float: none; border-bottom: 1px solid #ddd;}
.mbsc-material .dwbc{padding: 0;}
.dwbw.dwb-c{border-top:temSize(20) solid #dfe3ed;}


/*项目中剥离出来*/
//加载框样式，修改过
.popup-container.active .popup,.popup-container .popup{background:#fff; border-radius: temSize(20);width:temSize(560);min-height: temSize(290)}
.popup-head { border: none; padding: 0;}
.popup-title{font-size: temSize(28);line-height: temSize(110); color: #333;}
//.popup-body{ min-height: temSize(130);padding: temSize(40);padding-top: 0; }
.popup-buttons{min-height: temSize(80); padding:0;border-top:1px solid #ddd;}
.popup-body,.popup-body2{min-height: temSize(170);  font-size:.8rem; display: table; width:100%;padding: temSize(40); padding-top: 0;
  span{text-align:center;display:table-cell;vertical-align:middle; line-height: 1.5;height: temSize(200); font-size: temSize(28);color: #333; padding-top: temSize(40);}
}
.popup-body .poplink{ display:table-cell;vertical-align:middle; line-height: 1.5;height: temSize(200); font-size: temSize(24);color: #1e7dff; padding-top: temSize(40);}

.popup-body .confirm_title{font-size:0.7rem;color:#333;}
.popup-body .confirm_content{font-size:0.5rem;color:#666;margin-top:0.5rem;}

.popup-buttons .button {margin:0; font-size:temSize(24); min-height: temSize(80); @include theme-color;background:none; }
.popup-buttons .button.active,.popup-buttons .button.activated{border:none; background:none;}
.button.button-save{@include theme-color;background:transparent;border:none;}
.button.button-cancel{@include theme-color; background:transparent;border:none;border-right:1px solid #ddd;}
.button.button-cancel.active,.button.button-cancel.activated{border-right:1px solid #ddd;}


// 数据迁移中遮罩
.data_migrationing{padding: 0;border: 0;vertical-align: baseline;font: inherit;font-size: 100%;
  .mask_lock{opacity: 0.8;position: absolute;z-index: 110;left: 0;top: 0;right: 0;bottom: 0;width: 100%;height: 100%;background-color: #000;}
  .mask_bg{height: 100%;width: 100%;position: absolute;top: 0;left: 0;z-index: 130;
    .migration_box{
      width:temSize(320);min-height:temSize(240);background-color: white;border-radius:temSize(20);top:50%;
      position: relative;margin: 0 auto;margin-top:temSize(-120);
      .data_migrationline{height:temSize(22);width:temSize(240);margin: 0 auto;top:temSize(80);position: relative;background-color: #ffd02f;border-radius:temSize(10);background-size:temSize(40) temSize(40);
        background-image: linear-gradient(45deg, transparent temSize(0), transparent temSize(9), #ffc120 temSize(9), #ffc120 temSize(29), transparent temSize(29), transparent temSize(38), #ffc120 temSize(39));
        -webkit-animation: warning-animation 500ms infinite linear;
        -moz-animation: warning-animation 500ms infinite linear;
        animation: warning-animation 500ms infinite linear;
      }
      .load_reminds{position: relative;top: temSize(118);font-size: temSize(24);text-align: center;}
      .migration_success{position: relative;top: temSize(66);margin: 0 auto;width:temSize(72);height:temSize(52);background:url("../img/migration_success.png") $img-pozC;@include background-size100;}
      .load_reminds2{font-size: temSize(24);text-align: center;position: relative;top: temSize(92);color: #333333; line-height: 1.5;}
      .short_loading{ position: relative;top: temSize(66);margin: 0 auto;width:temSize(120);height:temSize(120);background:url("../img/shortLoading-icon.png") $img-pozC;@include background-size100;
        -webkit-animation: circle 1s infinite linear;
        -moz-animation: circle 1s infinite linear;
        animation: circle 1s infinite linear;
      }


    }
  }
}
@-webkit-keyframes warning-animation {
  0% {background-position: temSize(0) temSize(0);}
  100% {background-position: temSize(40) temSize(0);}
}
@-moz-keyframes warning-animation {
  0% {background-position: 0 0;}
  100% {background-position: temSize(40) temSize(0);}
}
@keyframes warning-animation {
  0% {background-position: 0 0;}
  100% {background-position: temSize(40) temSize(0);}
}
@-webkit-keyframes circle{
  0%{ transform:rotate(0deg); }
  100%{ transform:rotate(360deg); }
}
@-moz-keyframes circle{
  0%{ transform:rotate(0deg); }
  100%{ transform:rotate(360deg); }
}
@keyframes circle {
  0%{ transform:rotate(0deg); }
  100%{ transform:rotate(360deg); }
}

//新冻结样式
//.new_sence_lock{
//  position: absolute; top:0; left:0; width:100%; height:100%;background:url("../img/lock.png");background-size: 100% 100%;
//}
//.active_refreze_btn{width: temSize(160);height: temSize(84);margin: 0 auto;margin-top: temSize(83);
//  background:url("../img/feedback-form-refreze.png");background-size: 100% 100%;}
.new_sence_lock{
   padding-top: temSize(83); width:100%; height:100%;background:url("../img/lock.png");background-size: 100% 100%;
}
.active_refreze_btn{width: temSize(160);height: temSize(84);margin: 0 auto;;
  background:url("../img/feedback-form-refreze.png");background-size: 100% 100%;}

.sence_timeout{
  padding-top: temSize(83); width:100%; height:100%;background: rgba(0, 0, 0, 0.7);
  &:before{content: "";  width: 1.75rem;  height: 1.75rem;  display: block;background: url("../img/icon15.png") no-repeat;  -webkit-background-size: 100% 100%;  background-size: 100% 100%;  position: relative; left: 50%;  margin-left: -.875rem;}
}

//报错
.error_page,.error_page2 {
  height: 100%;
  width: 100%;
  background: url(../img/error_page.jpg) no-repeat center center;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  position: relative; }
.error_page2{  background: url(../img/error_page2.jpg) no-repeat center center;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;}
.error_page_text1 {
  color: #202c30;
  font-size: 0.8rem;
  position: absolute;
  top: 5.38rem;
  left: 3.5rem; }
.error_page_text2 {
  color: #fff;
  width:9.35rem;height:2.25rem;background:#5a5a5a; border:#000 2px solid; line-height:2.25rem; text-align:center;
  font-size: 0.75rem;
  position: absolute;
  top: 1.35rem;
  left: .9rem; }
.error_page_text3 {
  color: #202c30;
  width:10.5rem;height:6.5rem;background: url("../img/error_page2_textbg.png") no-repeat center center;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  line-height:1.5; text-align:center;
  font-size: 0.7rem; padding-top:1.5rem;
  position: absolute;
  top: 8.85rem;
  left: 50%; margin-left:-5.25rem; }
.back_to_homepage {
  height: 2.05rem;
  line-height: 2.05rem;
  width: 8.81rem;
  font-size: 0.7rem;
  background: #ff8711;
  border: 0.1rem solid #6b7b80;
  color: #fff;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  margin-left: -4.4rem;
  bottom: 3.65rem; }


/*顶部提示*/
.top-alert-warn{width: temSize(640); height: temSize(80);  background-color: #feda13; font-size: temSize(24);color: #333;padding: temSize(25) temSize(40); text-align: center;}
.top-alert-error{width: temSize(640); height: temSize(80);  background-color: #f7424f; font-size: temSize(24);color: #fff;padding: temSize(25) temSize(40); text-align: center;}
.top-alert-success{width: temSize(640); height: temSize(80);  background-color: #3990e1; font-size: temSize(24);color: #fff;padding: temSize(25) temSize(40); text-align: center;}
.alert-close{padding-right: temSize(40);position: relative;text-align: left;
  &:after{content: "";width: temSize(30);height: temSize(30); display: block;position: absolute;top: 50%;right: 0;margin-top: temSize(-15);background: url("../img/top-alert-close-icon.png") no-repeat center center;@include background-size100;}
}

/*音乐播放图标位置-项目来*/
.btnGroup3{position:absolute; top:.49rem; left:0; z-index: 999}
.btnG3_edit,.btnG3_publish{margin-left:.5rem; width:2.16rem; height:2.16rem; @include face-radius;}
.btnG3_music,.btnG3_musicon{width:1.5rem; height:1.5rem; @include face-radius; border: none;}
.btnG3_edit{background:rgba(0,0,0,.5) url("../img/icon1_edit.png") no-repeat $img-pozC;@include background-size100;}
.btnG3_music{background:rgba(0,0,0,.5) url("../img/site_edit_music_no.png") no-repeat $img-pozC;@include background-size100;}
.btnG3_musicon{background:rgba(0,0,0,.5) url("../img/site_edit_music.png") no-repeat $img-pozC;@include background-size100;animation: 2s linear 0s normal none infinite rotate-s1;-webkit-animation:2s linear 0s normal none infinite rotate-s1;}
.btnG3_publish{background:rgba(0,0,0,.5) url("../img/icon1_publish.png") no-repeat $img-pozC;@include background-size100;}
.btnGroup3 button span{display: block; width:2.16rem; text-align: center; position: absolute; color:#394e53; margin-top:1.3rem; font-size:.75rem;}

.audio_pos{position:absolute;}
.audio_upper_left{left:temSize(20);top:temSize(40);}
.audio_upper_right{right:temSize(20);top:temSize(40);}
.audio_bottom_left{left:temSize(20);bottom:temSize(40);}
.audio_bottom_right{right:temSize(20);bottom:temSize(40);}

//音乐旋转动画 {
@keyframes rotate-s1{
  from{-webkit-transform:rotate(0deg);}
  to{-webkit-transform:rotate(360deg);}
}
@-webkit-keyframes rotate-s1{
  from{-webkit-transform:rotate(0deg);}
  to{-webkit-transform:rotate(360deg);}
}
//}音乐旋转动画


/*list列表*/

.item-divider{ background-color: #dfe3ed; height: temSize(50);line-height: temSize(50); font-size: temSize(20); color: #aaa; padding: 0 temSize(40);}
.item-100{position: relative;height: temSize(100);width: 100%;margin: -1px; border-color: #ddd; background-color: #fff; padding: temSize(20)  temSize(40);}
.item-120{position: relative;height: temSize(120);width: 100%;margin: -1px; border-color: #ddd; background-color: #fff; padding: temSize(20)  temSize(40);}
.item-t20 .list{margin-top: temSize(20);}
.item-button-right{padding-right: temSize(160);height: temSize(100);line-height: temSize(60);
  .button{display: block;right: temSize(20);top: temSize(20);;font-size: temSize(20);height: temSize(60);min-height: temSize(60);line-height: temSize(60); width: temSize(120);}
}
.item-photo{padding-right: temSize(76);display: flex;
  .photo{display: inline-block;width: temSize(60);height: temSize(60);line-height: temSize(60);border-radius: temSize(60); margin-right: temSize(20); background-color: rgb(73, 197, 216);color: #fff; font-size: temSize(24); text-align: center;}
  .item-photo-text{width: temSize(444); line-height: temSize(60);}
  .item-star{position: absolute;right: temSize(20);top: 50%;margin-top: temSize(-18);width:temSize(38); height: temSize(36);  background: url("../img/book_icon.png") no-repeat center center;    background-size: temSize(38) temSize(36);}
  .item-star.current{ background-image: url("../img/book_icon_current.png"); }
}

/*forms表单*/
.item-input input[type="text"]{padding: 0 ; font-size: temSize(24); color: #333; }
.input-label{width: temSize(95); padding-right: temSize(25); color: #aaa;font-size: temSize(20);}
.item-input-wrapper{background-color: #fff; border: 1px #ccc solid; border-radius: 6px;}

/*Cards卡片*/
.cards{
  background-color: #fff; position: relative;
  .title{min-height: temSize(80);border-bottom: 1px solid #ccc; margin-bottom: -1px;}
  .footer{min-height: temSize(80);border-top: 1px solid #ccc; margin-top: -1px;}
  .body{min-height: temSize(160);  }
  &:before{box-shadow: 0 0 temSize(40) rgba(29, 63, 140, 0.7);content: "";width: 96%;height: temSize(50);border-radius:temSize(25);position: absolute;bottom:0;left:2%;z-index: -1;}
}
.border-radius-20{border-radius: temSize(20);}

/*Tabs导航条*/
.nav-top-tabs{ height: temSize(80);line-height: temSize(80);text-align: center;background-color: #fff;border-bottom: 1px solid #ccc;
  .nav-tab{width: temSize(120); text-align: center; font-size: temSize(24);color: #333; display: inline-block;position: relative;}
  .active:before{content: '';position: absolute;bottom: 0;left:0;margin-left: temSize(10);width: temSize(100);border: 2px solid #ff6622; }
}
.display-flex{display: flex;}

.nav-footer-tabs{ height: temSize(90);text-align: center;background-color: #fff;border-bottom: 1px solid #ccc;
  .nav-tab{width: temSize(120); text-align: center; font-size: temSize(20);color: #333; display: inline-block;position: relative;padding: temSize(10) 0;}
  .nav-text{font-size: temSize(20);color: #333;}
  .icon-size-40{display: block; margin:0 auto;}
}


/*图标 ionic是ion开头命名*/
.icon-size-40{width: temSize(40);height: temSize(40);background-size:100%;background-repeat: no-repeat;display: inline-block;}
.icon-size-36{width: temSize(36);height: temSize(36);background-size:100%;background-repeat: no-repeat;display: inline-block;}
//具体icon
.icon-invite{background-image: url("../img/icon_invite.png");}
.icon-vip{background-image: url("../img/icon_vip.png");}
.icon-info{background-image: url("../img/icon_info.png");}
.icon-help{background-image: url("../img/icon_help.png");}
.icon-terms{background-image: url("../img/icon_terms.png");}
.icon-ip{background-image: url("../img/icon_ip.png");}
.icon-bind{background-image: url("../img/icon_bind.png");}
.icon-erp{background-image: url("../img/icon_erp.png");}
.icon-login{background-image: url("../img/icon_login.png");}
.icon-set{background-image: url("../img/icon_set.png");}
.icon-organization{background-image: url("../img/icon_organization.png");}
.icon-user{background-image: url("../img/icon_user.png");}
.icon-psd{background-image: url("../img/icon_psd.png");}
.icon-suggest{background-image: url("../img/icon_suggest.png");}
.icon-logout{background-image: url("../img/icon_logout.png");}
.icon-myscene{background-image: url("../img/icon_myscene.png");}
.icon-rbook{background-image: url("../img/icon_rbook.png");}
.icon-usercenter{background-image: url("../img/icon_usercenter.png");}
.icon-edit{background-image: url("../img/icon_edit.png");}
.icon-nextpage{background-image: url("../img/icon_nextpage.png");}
.icon-backpage{background-image: url("../img/icon_backpage.png");}
.icon-project{background-image: url("../img/icon_project.png");}
.icon-save{background-image: url("../img/icon_save.png");}
.icon-preview{background-image: url("../img/icon_preview.png");}
.icon-music{background-image: url("../img/icon_music.png");}
.icon-bg{background-image: url("../img/icon_bg.png");}
.icon-statistics{background-image: url("../img/icon_statistics.png");}
.icon-lbook{background-image: url("../img/icon_lbook.png");}
.icon-share{background-image: url("../img/icon_share.png");}
.icon-other{background-image: url("../img/icon_other.png");}
.icon-ydiamond{background-image: url("../img/icon_ydiamond.png");}
.icon-bdiamond{background-image: url("../img/icon_bdiamond.png");}
.icon_write{background-image: url("../img/icon_write.png");}
.icon_bshare{background-image: url("../img/icon_bshare.png");}
.icon_reflash{background-image: url("../img/icon_reflash.png");}
.icon_download{background-image: url("../img/icon_download.png");}
.icon_more{background-image: url("../img/icon_more.png");}
.icon_pdown{background-image: url("../img/icon_pdown.png");}
.icon_phone{background-image: url("../img/icon_phone.png");}
.icon_shield{background-image: url("../img/icon_shield.png");}
.icon_lock{background-image: url("../img/icon_lock.png");}

//文字编辑 created by wenjun 2015/10/28{
.editor_wrap1{width:15rem; height:7.25rem; position:absolute; top:2.6rem; left:50%; margin-left:-7.5rem; padding:.5rem; @include border-radius-basic(10px); background:#fff; z-index:121;}
.editor_wrap_callback{width:100%; height:8.5rem; position:absolute; top:0rem; left:0; padding:.5rem; background:#fff; z-index:120;}
.editor_index{z-index:8;}
.editor_wrap2{width:100%; height:4.25rem; padding:.25rem 0 0 .5rem; @include box-shadow-base(0 -1px 5px rgba(4,0,0,.3)); position: absolute; bottom: 0; left: 0; background: #fff; z-index: 111;}
.editor_text_box{width:100%; height:5rem; border:#ccc 1px solid; margin-bottom:.5rem; @include border-radius-basic(5px); font-size:.75rem;line-height: normal; padding:4px 5px;-webkit-appearance: none;} //删除阴影
.editor_text_box_callback{width:100%; height:6.25rem; border:#ccc 1px solid; margin-bottom:.5rem; @include border-radius-basic(5px); font-size:.75rem;line-height: normal; padding:4px 5px;-webkit-appearance: none;}
.editor_icon.icon1,.editor_text{float:left; margin-top:-2px;display:inline-block;}
.editor_icon.icon1,.editor_text_callback{float:left; margin-top:-2px;display:inline-block;}
.editor_icon.icon2{display:inline-block; float:right; margin-top:.15rem;}
.editor_icon{font-size:.55rem; color:#666;width:4rem; text-align:left;
  em{width:1.05rem; height:1.05rem; margin-right: .25rem; display: inline-block; vertical-align: middle;}
}
.editor_icon.icon1 em{background:url("../img/icon7_1.png") $img-pozC;@include background-size100;}
.editor_icon.icon2 em{background:url("../img/icon7_2.png") $img-pozC;@include background-size100;}
.editor_text{color:#aaa; font-size:.7rem; width:5rem; text-align:right; margin-left:2.3rem;}
.editor_text_callback{color:#aaa; font-size:.5rem; width:5rem;position:absolute;right:50%; text-align:center; margin-right:-2.5rem;}
.button-sure{color:#28a6ff;float:right;height:1.75rem; width: 3rem;padding-left: .5rem; margin:-.5rem -.5rem 0 0;}
.button-cancel{color:#28a6ff;float:left;height:1.75rem; width: 1.6rem; margin:-.5rem -.5rem 0 0;}
.button-sure-callback{background-color: transparent;border: none;color:#3287f2;float:right;height:1.75rem; width: 3.5rem;padding-left: .5rem; margin:-.5rem -.5rem 0 0;font-family: Microsoft Yahei;font-size: 0.6rem;}
.button-cancel-callback{background-color: transparent;border: none;color:#3287f2;float:left;height:1.75rem; width: 3.5rem; margin:-.5rem -.5rem 0 -.5rem;font-family: Microsoft Yahei;font-size: 0.6rem;}
.editor_tabs{width:9rem; height:1.3rem; margin-bottom:.5rem; @include border-radius-basic(5px); border:#ccc 1px solid; padding:.1rem 0;
  .editor_tabs_item{width:50%; height:100%; line-height:1rem; float:left; font-size:.55rem; color:#ccc; text-align: center;}
  .editor_tabs_item:last-child{margin-left:-1px; border-left:#eee 1px solid;}
  .editor_tabs_item.current-item{color:#666;}
}
.editor_fontStyle_box{
  .editor_fontStyle_item{float:left; margin-left:.625rem; width:1.6rem; height:1.6rem; @include face-radius; border:#666 1px solid;}
  .editor_fontStyle_item:first-child{margin-left:0;}
  .icon_textL{background:url("../img/icon8_1.png") $img-pozC;@include background-size100;}
  .icon_textC{background:url("../img/icon8_2.png") $img-pozC;@include background-size100;}
  .icon_textR{background:url("../img/icon8_3.png") $img-pozC;@include background-size100;}
  .icon_textI{background:url("../img/icon8_4.png") $img-pozC;@include background-size100;}
  .icon_textB{background:url("../img/icon8_5.png") $img-pozC;@include background-size100;}
  .icon_textS{background:url("../img/icon8_6.png") $img-pozC;@include background-size100;}
  .icon_textBig{background:url("../img/icon8_7.png") $img-pozC;@include background-size100;}
}
.lockMask_input{
  position: absolute;
  z-index: 7;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity:0.7;
}
.editor_colorStyle_box{
  .editor_colorStyle_item{float:left; width:1.25rem; height:1.5rem;}
  .colorStyle1{background:#000;}
  .colorStyle2{background:#7f7f7f;}
  .colorStyle3{background:#fff;}
  .colorStyle4{background:#ff5e5e;}
  .colorStyle5{background:#cf242d;}
  .colorStyle6{background:#f99e28;}
  .colorStyle7{background:#ffe161;}
  .colorStyle8{background:#9ce059;}
  .colorStyle9{background:#79af40;}
  .colorStyle10{background:#63b3df;}
  .colorStyle11{background:#387ca1;}
  .colorStyle12{background:#9d47b8;}
}

/*Footer Select List - 底部选择列表*/
//覆盖ionic样式
.action-sheet-backdrop.active{background-color: rgba(0, 0, 0, 0.7);}
.action-sheet{margin-left: 0;margin-right:0;}
.action-sheet-group{border-radius: 0; margin-bottom: 0; background-color: #cbced7;}
.action-sheet-cancel .button{margin-top: temSize(20);}
.action-sheet .button{border-color: #cbced7; height: temSize(100);line-height: temSize(100); background-color: #fff; color: #333;font-size: temSize(24);}
.action-sheet .button.active, .action-sheet .button.activated {  box-shadow: none;  border-color: #cbced7;  color: #333;  background: #fff; }


/*遮罩提示*/
//项目中的
.lockMask_btn1{border: none;;width:temSize(222); height:temSize(108);background:url("../img/tips_btn1.png") no-repeat center center;background-size:100% 100%; position:absolute; left:50%; margin-left:temSize(-111); bottom:temSize(202); z-index:110;}
.lockMask {  position: absolute;  z-index: 110;  left: 0;  top: 0;  right: 0;  bottom: 0;  width: 100%;  height: 100%;  background-color: #000;  -webkit-opacity: 0.7;opacity: 0.7;}



