//定义变量与函数
/* px to rem */
@function temSize($num) {
  @return ceil($num /40*100)/100*1rem
}

@mixin theme-color{color: #ff6622;} //主题颜色
@mixin theme-bg-color{background-color: #ff6622;} //主题背景色
@mixin theme-border-color{border-color: #ff6622;} //主题边框色
//项目中的
$img-poz:no-repeat; //图片不重复
$img-pozC:no-repeat center center; //图片不重复+定位方式
$img-pozT:no-repeat center top; //图片不重复+定位方式
$img-pozB:no-repeat center bottom; //图片不重复+定位方式
@mixin font-size-base{font-size:12px; font-size:1.2rem;} //默认字号
@mixin box-sizing-base{-webkit-box-sizing:border-box;box-sizing: border-box;}
@mixin opacity-base($opacity:70){-webkit-opacity:$opacity /100;opacity:$opacity /100;} //定义透明度，用于遮罩等
@mixin mask-base{left:0; top:0; right:0; bottom:0; width: 100%; height:100%; background-color:#000;} //遮罩代码提取
@mixin background-size100{-webkit-background-size:100% 100%; background-size:100% 100%;} //背景图片拉伸方式
@mixin background-size80{-webkit-background-size:80% 80%; background-size:80% 80%;} //背景图片拉伸方式
@mixin background-size-cover{-webkit-background-size: cover; background-size: cover;} //背景图片拉伸方式
@mixin background-size-s1{-webkit-background-size:100% auto; background-size:100% auto;} //背景图片拉伸方式
@mixin background-size-s2{-webkit-background-size:100% auto,100% auto; background-size:100% auto,100% auto;}//两张背景图片拉伸方式
@mixin background-size-s3{-webkit-background-size:auto 100%;background-size:auto 100%;} //背景图片拉伸方式
@mixin background-size($value1,$value2){-webkit-background-size:$value1 $value2; background-size:$value1 $value2;} //背景图片拉伸方式
@mixin face-radius{-webkit-border-radius:50%; border-radius:50%;} //圆形圆角
@mixin border-radius-basic($radius){-webkit-border-radius:$radius; border-radius:$radius;} //圆角自定义
@mixin border-radius-small{@include border-radius-basic(3px);}
@mixin border-radius-base{@include border-radius-basic(5px);}
@mixin border-radius-large{@include border-radius-basic(10px);}
@mixin border-radius-Mlarge{@include border-radius-basic(12px);}
@mixin border-radius-Xlarge{@include border-radius-basic(20px);}
@mixin transform-rotate($ratate){-webkit-transform: rotate($ratate); transform:rotate($ratate);}
@mixin background-linear($a,$b){background: $a; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$a), color-stop(100%,$b)); background: -webkit-linear-gradient(top, $a 0%,$b 100%); background: linear-gradient(to bottom, $a 0%,$b 100%);}
@mixin text-shadow-s1($shadow-color){
  text-shadow:$shadow-color 1px 0 0.5px,$shadow-color 0 1px 0.5px,$shadow-color -1px 0 0.5px,$shadow-color 0 -1px 0.5px;
  -webkit-text-shadow:$shadow-color 1px 0 0.5px,$shadow-color 0 1px 0.5px,$shadow-color -1px 0 0.5px,$shadow-color 0 -1px 0.5px;
}//文字加1px描边
@mixin text-shadow-s2($shadow-color2){
  text-shadow:$shadow-color2 1px 0 3px,$shadow-color2 0 1px 3px,$shadow-color2 -1px 0 3px,$shadow-color2 0 -1px 3px;
  -webkit-text-shadow:$shadow-color2 1px 0 3px,$shadow-color2 0 1px 3px,$shadow-color2 -1px 0 3px,$shadow-color2 0 -1px 3px;
}//文字加描边
@mixin text-shadow-s2_2($shadow-color2_2){
  text-shadow:$shadow-color2_2 3px 0 1px,$shadow-color2_2 0 -2.5px 1px,$shadow-color2_2 -2.5px 0 1px,$shadow-color2_2 0 3px 1px;
  -webkit-text-shadow:$shadow-color2_2 3px 0 1px,$shadow-color2_2 0 -2.5px 1px,$shadow-color2_2 -2.5px 0 1px,$shadow-color2_2 0 3px 1px;
}//微官网文字样式2_2
//#266364 3px 0 1px, #266364 0 -2.5px 1px, #266364 -2.5px 0 1px, #266364 0 3px 1px
@mixin text-shadow-s2_1($shadow-color2_1){
  text-shadow:$shadow-color2_1 0.5px 0.5px 2px,$shadow-color2_1 0.5px 0.5px 0px,$shadow-color2_1 0.5px 0.5px 2px,$shadow-color2_1 0.5px 0.5px 0px;
  -webkit-text-shadow:$shadow-color2_1 0.5px 0.5px 2px,$shadow-color2_1 0.5px 0.5px 2px,$shadow-color2_1 0.5px 0.5px 2px,$shadow-color2_1 0.5px 0.5px 2px;
}//微官网文字样式2_1

@mixin text-shadow-s2_3($shadow-color2_1){
  text-shadow:$shadow-color2_1 0 1px 3px,$shadow-color2_1 1px 0 3px,$shadow-color2_1 0 -1px 1px,$shadow-color2_1 -1px 0 1px;
  -webkit-text-shadow:$shadow-color2_1 0 1px 3px,$shadow-color2_1 1px 0 3px,$shadow-color2_1 0 -1px 1px,$shadow-color2_1 -1px 0 1px;
}//微官网文字样式2_3

@mixin text-shadow-s2_4($shadow-color2_1){
  text-shadow:$shadow-color2_1 1px 2px 0px,$shadow-color2_1 -1px 2px 0px;
  -webkit-text-shadow:$shadow-color2_1 1px 2px 0px,$shadow-color2_1 -1px 2px 0px;
}

@mixin text-shadow-s3{text-shadow:rgba(13,4,8,.11) 1px 1px 1px,rgba(13,4,8,.11) -1px -1px 1px; -webkit-text-shadow:rgba(13,4,8,.11) 1px 1px 1px,rgba(13,4,8,.11) -1px -1px 1px;}//文字加描边

@mixin box-shadow-s1{-webkit-box-shadow:2px 2px 5px rgba(13, 4, 8, 0.21),-2px -2px 5px rgba(13, 4, 8, 0.21); box-shadow:2px 2px 5px rgba(13, 4, 8, 0.21),-2px -2px 5px rgba(13, 4, 8, 0.21);}//投影
@mixin box-shadow-base($shadow-value){-webkit-box-shadow:$shadow-value; box-shadow:$shadow-value;}//自定义投影
@mixin t_overflow{overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}/* 超过宽度出现省略号... */
@mixin text-shadow-style{text-shadow: 0 1px 1px rgba(0,0,0,0.4);}
//end

