//定义变量与函数
/* px to rem */
@function temSize($num) {
  @return ceil($num /40*100)/100*1rem;
}
/*toggle*/
//覆盖ionic
.toggle input:checked + .track{@include theme-bg-color;@include theme-border-color;  }
.toggle .track{height:temSize(50);width: temSize(100); }
.toggle .handle{height:temSize(44);width: temSize(44);}
.toggle input:checked + .track .handle {-webkit-transform: translate3d(temSize(50), 0, 0);  transform: translate3d(temSize(50), 0, 0);  background-color: #fff;}

/*单选复选*/
//覆盖ionic
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  @include theme-bg-color;@include theme-border-color;
}
.checkbox input, .checkbox-icon{ width: temSize(40);height: temSize(40);}
.checkbox input:before, .checkbox-icon:before{border-radius: temSize(20);}
.checkbox input:after, .checkbox-icon:after{width: temSize(22);height: temSize(11);border: 2px solid #fff;border-top: 0;border-right: 0;}
.item-checkbox .checkbox{top:50%;left: temSize(40);right: 0; margin-top: temSize(-20);}
.checkbox{padding: 0;}
.item-checkbox .item-content{ height: temSize(40);line-height: temSize(40);}
/*模仿多选按钮重写单选按钮样式*/
.item-radio input:checked + .radio-content .item-content{background-color: #fff;}
.item-radio .radio-icon {
  position: absolute;
  width: temSize(40);
  height: temSize(40);
  top: 50%;
  margin-top: temSize(-20);
  right: temSize(20);
  z-index: 3;
  visibility: hidden;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
}
.ion-checkmark:before {
  content:' ';
  width: 100%;
  height: 100%;
  border-radius: temSize(40);
  @include theme-bg-color;
  position: absolute;
  top:0;

}
.ion-checkmark:after {
  -webkit-transition: opacity 0.05s ease-in-out;
  transition: opacity 0.05s ease-in-out;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: 33%;
  left: 25%;
  display: table;
  width: temSize(22);
  height: temSize(11);
  border: 2px solid #fff;
  border-top: 0;
  border-right: 0;
  content: ' ';

}
.item-radio .radio-icon{padding: 0;}
.radio-content{padding-right: temSize(60); height: temSize(40);line-height: temSize(40);}
/*时间选择器*/
.dwcc{border-bottom: 1px solid #ddd;border-top: 1px solid #ddd; padding: temSize(20) 0;}
.mbsc-material .dwwr{background: #fff;}
.mbsc-material .dwv{color: #333; font-weight: normal;}
.mbsc-material .dwwb{background-color: #fff;color: #333;}
.mbsc-material .dwwb:before{color: #bbb;}
.mbsc-material .dwpm .dwwol{display: none}//数值中间一横
.dwwl.dwwl1:after{content: '/';position: absolute; top: 50%; right: 0;margin-top: temSize(-16);margin-right: temSize(-7);font-size: temSize(28);color: #333;}
.dwwl.dwwl1:before{content: '/';position: absolute; top: 50%; left: 0;margin-top: temSize(-16);margin-left: temSize(-7);font-size: temSize(28);color: #333;}
.dwwl.dwwl4:before{content: ':';position: absolute; top: 50%; left: 0;margin-top: temSize(-16);margin-left: temSize(-7);font-size: temSize(28);color: #333;}
.mbsc-material .dw-li{color: #bbb;font-size: temSize(24)}
.dw-li.dw-v.dw-sel{font-size: temSize(28);color: #333;}
.mbsc-material .dwb{color: #333; font-size: temSize(20);font-weight: normal;text-align: center; height: temSize(100);line-height: temSize(100)}
.dwbw.dwb-s>div{@include theme-color;}
.mbsc-material .dwbw{float: none; border-bottom: 1px solid #ddd;}
.mbsc-material .dwbc{padding: 0;}
.dwbw.dwb-c{border-top:temSize(20) solid #dfe3ed;}
//文字编辑 created by wenjun 2015/10/28{
.editor_wrap1{width:15rem; height:7.25rem; position:absolute; top:2.6rem; left:50%; margin-left:-7.5rem; padding:.5rem; @include border-radius-basic(10px); background:#fff; z-index:121;}
.editor_wrap_callback{width:100%; height:8.5rem; position:absolute; top:0rem; left:0; padding:.5rem; background:#fff; z-index:120;}
.editor_index{z-index:8;}
.editor_wrap2{width:100%; height:4.25rem; padding:.25rem 0 0 .5rem; @include box-shadow-base(0 -1px 5px rgba(4,0,0,.3)); position: absolute; bottom: 0; left: 0; background: #fff; z-index: 111;}
.editor_text_box{width:100%; height:5rem; border:#ccc 1px solid; margin-bottom:.5rem; @include border-radius-basic(5px); font-size:.75rem;line-height: normal; padding:4px 5px;-webkit-appearance: none;} //删除阴影
.editor_text_box_callback{width:100%; height:6.25rem; border:#ccc 1px solid; margin-bottom:.5rem; @include border-radius-basic(5px); font-size:.75rem;line-height: normal; padding:4px 5px;-webkit-appearance: none;}
.editor_icon.icon1,.editor_text{float:left; margin-top:-2px;display:inline-block;}
.editor_icon.icon1,.editor_text_callback{float:left; margin-top:-2px;display:inline-block;}
.editor_icon.icon2{display:inline-block; float:right; margin-top:.15rem;}
.editor_icon{font-size:.55rem; color:#666;width:4rem; text-align:left;
  em{width:1.05rem; height:1.05rem; margin-right: .25rem; display: inline-block; vertical-align: middle;}
}
.editor_icon.icon1 em{background:url("../img/icon7_1.png") $img-pozC;@include background-size100;}
.editor_icon.icon2 em{background:url("../img/icon7_2.png") $img-pozC;@include background-size100;}
.editor_text{color:#aaa; font-size:.7rem; width:5rem; text-align:right; margin-left:2.3rem;}
.editor_text_callback{color:#aaa; font-size:.5rem; width:5rem;position:absolute;right:50%; text-align:center; margin-right:-2.5rem;}
.button-sure{color:#28a6ff;float:right;height:1.75rem; width: 3rem;padding-left: .5rem; margin:-.5rem -.5rem 0 0;}
.button-cancel{color:#28a6ff;float:left;height:1.75rem; width: 1.6rem; margin:-.5rem -.5rem 0 0;}
.button-sure-callback{background-color: transparent;border: none;color:#3287f2;float:right;height:1.75rem; width: 3.5rem;padding-left: .5rem; margin:-.5rem -.5rem 0 0;font-family: Microsoft Yahei;font-size: 0.6rem;}
.button-cancel-callback{background-color: transparent;border: none;color:#3287f2;float:left;height:1.75rem; width: 3.5rem; margin:-.5rem -.5rem 0 -.5rem;font-family: Microsoft Yahei;font-size: 0.6rem;}
.editor_tabs{width:9rem; height:1.3rem; margin-bottom:.5rem; @include border-radius-basic(5px); border:#ccc 1px solid; padding:.1rem 0;
  .editor_tabs_item{width:50%; height:100%; line-height:1rem; float:left; font-size:.55rem; color:#ccc; text-align: center;}
  .editor_tabs_item:last-child{margin-left:-1px; border-left:#eee 1px solid;}
  .editor_tabs_item.current-item{color:#666;}
}
.editor_fontStyle_box{
  .editor_fontStyle_item{float:left; margin-left:.625rem; width:1.6rem; height:1.6rem; @include face-radius; border:#666 1px solid;}
  .editor_fontStyle_item:first-child{margin-left:0;}
  .icon_textL{background:url("../img/icon8_1.png") $img-pozC;@include background-size100;}
  .icon_textC{background:url("../img/icon8_2.png") $img-pozC;@include background-size100;}
  .icon_textR{background:url("../img/icon8_3.png") $img-pozC;@include background-size100;}
  .icon_textI{background:url("../img/icon8_4.png") $img-pozC;@include background-size100;}
  .icon_textB{background:url("../img/icon8_5.png") $img-pozC;@include background-size100;}
  .icon_textS{background:url("../img/icon8_6.png") $img-pozC;@include background-size100;}
  .icon_textBig{background:url("../img/icon8_7.png") $img-pozC;@include background-size100;}
}
.lockMask_input{
  position: absolute;
  z-index: 7;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity:0.7;
}
.editor_colorStyle_box{
  .editor_colorStyle_item{float:left; width:1.25rem; height:1.5rem;}
  .colorStyle1{background:#000;}
  .colorStyle2{background:#7f7f7f;}
  .colorStyle3{background:#fff;}
  .colorStyle4{background:#ff5e5e;}
  .colorStyle5{background:#cf242d;}
  .colorStyle6{background:#f99e28;}
  .colorStyle7{background:#ffe161;}
  .colorStyle8{background:#9ce059;}
  .colorStyle9{background:#79af40;}
  .colorStyle10{background:#63b3df;}
  .colorStyle11{background:#387ca1;}
  .colorStyle12{background:#9d47b8;}
}

/*Footer Select List - 底部选择列表*/
//覆盖ionic样式
//.action-sheet-backdrop.active{background-color: rgba(0, 0, 0, 0.7);}
//.action-sheet{margin-left: 0;margin-right:0;}
//.action-sheet-group{border-radius: 0; margin-bottom: 0; background-color: #cbced7;}
//.action-sheet-cancel .button{margin-top: temSize(20);}
//.action-sheet .button{border-color: #cbced7; height: temSize(100);line-height: temSize(100); background-color: #fff; color: #333;font-size: temSize(24);}
//.action-sheet .button.active, .action-sheet .button.activated {  box-shadow: none;  border-color: #cbced7;  color: #333;  background: #fff; }
/*遮罩提示*/
//项目中的
.lockMask_btn1{border: none;;width:temSize(222); height:temSize(108);background:url("../img/tips_btn1.png") no-repeat center center;background-size:100% 100%; position:absolute; left:50%; margin-left:temSize(-111); bottom:temSize(202); z-index:110;}
.lockMask {  position: absolute;  z-index: 110;  left: 0;  top: 0;  right: 0;  bottom: 0;  width: 100%;  height: 100%;  background-color: #000;  -webkit-opacity: 0.7;opacity: 0.7;}

//文字输入框
.lockMask_editor1{opacity: 0.7;}
.editor_text_box_callback{resize: none;}
.mutil_input_wrap{width:100%; min-height:8.5rem; position:absolute; top:0rem; left:0;padding:0.5rem 0.5rem 0; background:#fff; z-index:8;
  .mutil_input_box{height:temSize(340);border:#ccc 1px solid; @include border-radius-basic(5px);padding:0.95rem 0;}
  .mutil_input_item{width:14.5rem;margin:0.3rem auto;position:relative;height:temSize(65);line-height:temSize(65);}
  .mutil_title{display:block;width:4.65rem;text-align:right;font-size:0.6rem;color:#666;position:absolute;left:0;top:0;}
  .mutil_input{border:#e7e7e7 1px solid; @include border-radius-basic(5px);width:temSize(260);height:temSize(65);text-align:right;padding-right:temSize(20);position:absolute;left:temSize(200);}
  .editor_text_callback{position:absolute;width:temSize(70);right:temSize(20);margin:0;}
  .button-cancel-callback,.button-sure-callback{margin-top:0;}
  .button-cancel-callback{color:#ccc;}
}
//下拉遮罩组件样式
.lhBtn{width: 100%;height:temSize(80);text-align: center;font-size: temSize(36);line-height: temSize(80);background-color: #F99E28;}
.ComboboxMask{height: temSize(880);
  .Select_list span{display:block;width:100%;height:temSize(80);line-height:temSize(80);background:#fff;text-align:center;border-bottom:1px solid #bbb;font-size:temSize(24);}
  .Select_list span:last-child{border-top: 0.5px solid #cbced7;border-bottom: none;margin-top: 0.5rem;}
  .Select_list{position:absolute;z-index:200;left:0;bottom:0;width:100%;background:#dfe3ed;}
  .ComboboxInfo{color:#fff;top:30%;position:absolute;width:temSize(530);left:50%;margin-left:temSize(-265);z-index:200;font-size:temSize(24);letter-spacing:1px;}
}
