//定义变量与函数
/* px to rem */
@function temSize($num) {
  @return ceil($num /40*100)/100*1rem;
}
*{font-family: "San Francisco","Roboto","PingFang SC","Noto Sans CJK SC","Microsoft YaHei","微软雅黑",Arial,sans-serif}
//文字对齐方式ionic 已经定义
/* 文字样式 */
.font-title{font-size: temSize(28); color: #333;}
.font-body{font-size: temSize(24); color: #333;}
.font-sub{font-size: temSize(28); color: #aaa;}
.font-help{font-size: temSize(20); color: #81a2cd;}
.text-shadow{text-shadow: 0 1px 4px #ddd; -webkit-text-shadow: 0 1px 4px #ddd; }
.font-popbody{font-size: temSize(20);color: #666;}