//定义变量与函数
/* px to rem */
@function temSize($num) {
  @return ceil($num /40*100)/100*1rem;
}
//内边距 目前只有20、40、80 定义 全部 上下 左右 上 下 左 右
.padding-20{padding: temSize(20);}
.padding-lr20{padding-left: temSize(20);padding-right: temSize(20);}
.padding-tb20{padding-top: temSize(20);padding-bottom: temSize(20);}
.padding-t20{padding-top: temSize(20);}
.padding-l20{padding-left: temSize(20);}
.padding-r20{padding-right: temSize(20);}
.padding-b20{padding-bottom: temSize(20);}

.padding-40{padding: temSize(40);}
.padding-lr40{padding-left: temSize(40);padding-right: temSize(40);}
.padding-tb40{padding-top: temSize(40);padding-bottom: temSize(40);}
.padding-t40{padding-top: temSize(40);}
.padding-l40{padding-left: temSize(40);}
.padding-r40{padding-right: temSize(40);}
.padding-b40{padding-bottom: temSize(40);}

.padding-80{padding: temSize(80);}
.padding-lr80{padding-left: temSize(80);padding-right: temSize(80);}
.padding-tb80{padding-top: temSize(80);padding-bottom: temSize(80);}
.padding-t80{padding-top: temSize(80);}
.padding-l80{padding-left: temSize(80);}
.padding-r80{padding-right: temSize(80);}
.padding-b80{padding-bottom: temSize(80);}
//外边距 目前只有20、40、80 定义 全部 上下 左右 上 下 左 右
.margin-10{margin: temSize(10);}
.margin-lr10{margin-left: temSize(10);margin-right: temSize(10);}
.margin-tb10{margin-top: temSize(10);margin-bottom: temSize(10);}
.margin-t10{margin-top: temSize(10);}
.margin-l10{margin-left: temSize(10);}
.margin-r10{margin-right: temSize(10);}
.margin-b10{margin-bottom: temSize(10);}

.margin-20{margin: temSize(20);}
.margin-lr20{margin-left: temSize(20);margin-right: temSize(20);}
.margin-tb20{margin-top: temSize(20);margin-bottom: temSize(20);}
.margin-t20{margin-top: temSize(20);}
.margin-l20{margin-left: temSize(20);}
.margin-r20{margin-right: temSize(20);}
.margin-b20{margin-bottom: temSize(20);}

.margin-40{margin: temSize(40);}
.margin-lr40{margin-left: temSize(40);margin-right: temSize(40);}
.margin-tb40{margin-top: temSize(40);margin-bottom: temSize(40);}
.margin-t40{margin-top: temSize(40);}
.margin-l40{margin-left: temSize(40);}
.margin-r40{margin-right: temSize(40);}
.margin-b40{margin-bottom: temSize(40);}

.margin-80{margin: temSize(80);}
.margin-lr80{margin-left: temSize(80);margin-right: temSize(80);}
.margin-tb80{margin-top: temSize(80);margin-bottom: temSize(80);}
.margin-t80{margin-top: temSize(80);}
.margin-l80{margin-left: temSize(80);}
.margin-r80{margin-right: temSize(80);}
.margin-b80{margin-bottom: temSize(80);}