@charset "UTF-8";

/*sass汇总文档
----------------------
作者：陈天宇
时间：2016年8月25日
邮箱：tianyu.chen@xiaobao100.com | cty8998@163.com
说明：改文档将sass各组件进行了拆分，目的在于减少冗余，增加利用率，为了便于识别和review，sass嵌套不宜超过三层。
警告：为了避免规范相互改动造成的bug，scss文件专人维护，没有其他特殊情况不要在这里新增代码，改动请到pages文件夹下
---------------------- */

// //工具和帮助类（helpers）
@import "helpers/variables";//变量
@import "helpers/functions";//函数
@import "helpers/mixins"; 
 //基础部分(base)
@import "base/reset"; //重置样式
@import "base/util"; //通用样式
 //组件部分(components)
@import "componets/button";
@import "componets/cards";
@import "componets/controls";
@import "componets/dialogs";
@import "componets/forms";
@import "componets/icons";
@import "componets/others";
@import "componets/list";
@import "componets/mask";
 //局部布局（layout）
@import "layout/nav";
 //具体页面（pages）
@import "pages/mobileSite";//网格布局系统


