//定义变量与函数
/* px to rem */
@function temSize($num) {
  @return ceil($num /40*100)/100*1rem;
}
//============================================================
//   flex：定义布局为盒模型
//   flex-v：盒模型垂直布局
//   flex-1：子元素占据剩余的空间
//   flex-align-center：子元素垂直居中
//   flex-pack-center：子元素水平居中
//   flex-pack-justify：子元素两端对齐
//   兼容性：ios 4+、android 2.3+、winphone8+
//   ============================================================ */
@mixin display_flex{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
@mixin display_flex-v{-webkit-box-orient:vertical;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;}
@mixin display_flex-1{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
@mixin display_flex-align-center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
@mixin display_flex-pack-center{-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;}
@mixin display_flex-pack-justify{-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;}

*{padding: 0;margin: 0;list-style: none;}
/*通用*/
.bg-gray{background-color: #f5f5f5;}

@media screen and (min-width: 1000px) {
  /*iframe引入页面内的样式*/


}
@media screen and (max-width: 1000px) {
  .margin-5-10{margin: 5px 10px;}
  h3{font-size: temSize(28);}
}

.pc-head{ background-image: url("../img/head-bg.png") ; background-size: 100% auto; height: 160px;
  .head-content{width: 1000px; height: 100%;margin: auto; position: relative;}
  .logo{ background-image: url("../img/xbx-logo.png");  margin-top: 50px;width: 219px;height: 69px;background-size: 100% auto;display: inline-block;}
  .edition{background-image: url("../img/edition.png"); width: 46px;height: 66px;background-size: 100% auto; display: inline-block;position: absolute;right: 0;
    top:50%;margin-top: -33px; line-height: 66px;text-align: center; font-size: 18px;color: #fff;}
}
.pc-body{ width: 1000px; height: auto;margin:0 auto;margin-top: 60px;padding-bottom: 30px; @include display_flex;
  .text1{font-size: 14px;}
  h1{font-size:20px; margin-bottom: 20px;color: #333;}
  h2{font-size:16px; margin:10px 0;color: #666; margin-left: 20px;}
  h3{font-size:14px; margin:10px 0;color: #666; }
  pre{ background-color:#f5f5f5;border-left: 5px solid #D7DBE4; padding: 0 10px; margin-top: 10px;
    code{ white-space: pre-wrap;}
  }
  .nav{ display: inline-block;width: 162px;border-right:1px solid #ddd ;
    ul li{font-size: 14px; height: 50px; line-height: 50px;color: #707070; cursor: pointer;
       span{color: #aaa; margin-left: 10px;}
    }
    .active,.active span{color: #ff6622;}
    .active{ border-right:5px solid #ff6622; }

  }
  .content{@include display_flex-1;padding-left: 20px;position: relative;
    .introduce{width: 384px;}
    .phone{background-image: url("../img/demo-phone.png"); width: 456px;height: 842px;background-size: 100% auto; background-repeat: no-repeat;position: absolute;right: 0; top: 0;
      iframe{background-color: #f5f5f5;border-radius: 2px;margin: auto; width: 320px; height: 568px;position: relative;left: 70px;top:118px; border: none;}
    }
    h1{font-size: 18px;color: #333; margin-bottom: 55px;}
    table{margin: 10px 0;font-size: 14px; color: #333; border-left: 1px solid #ddd;border-top: 1px solid #ddd;
      td,th{border-right: 1px solid #ddd;border-bottom: 1px solid #ddd; padding: 10px 20px;}
    }
    //图标
    .preview-icon{background-color: #f5f5f5;
       div{text-align: center;}
      p{font-size: 14px;}
    }
    //颜色
    .color-body{padding: 10px;}
    .color-body>div{height: 40px;line-height: 40px;margin-bottom: 10px;}
    .color{width: 200px; height: 40px;border-radius: 5px;display: inline-block; margin-right: 10px; float: left; }
    .color-theme{background-color: #ff6622;}
    .color-white{background-color: #fff;}
    .color-light{background-color: #ddd;}
    .color-stable{background-color: #ccc;}
    .color-positive{background-color: #2a97ec;}
    .color-alert{background-color: #f7424f;}
    .color-energized{background-color: #feda13;}
    .color-dark{background-color: #333;}
    .photobg{margin: 10px 0; padding: 10px;}
    .photobg>div{display: inline-block; margin:0 10px;}
    .photobg>div span{width: 40px; height: 40px;display: inline-block; border-radius: 5px;}
    .photo-color-1{background-color: #ff6e48;}
    .photo-color-2{background-color: #e3547f;}
    .photo-color-3{background-color: #6090cd;}
    .photo-color-4{background-color: #fec42c;}
    .photo-color-5{background-color: #49c5d8;}
    .photo-color-6{background-color: #90d355;}

  }

}





















.icon-row{
  div{margin: temSize(20);}
}

@media screen and (max-width: 800px) {
  .show-pc{display: none;}
}
@media screen and (min-width: 800px) {
  .show-mobile{display: none;}
}
//布局
.layout-bg{width:700px;height:1500px;background-image: url("../img/layout.png") ; background-size: 100% auto;}
