<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>test</title>
    <link href="../js/mobiscrolldatetime/css/mobiscroll.custom-2.17.0.min.css" rel="stylesheet">
    <link href="../css/ionic.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/angular/angular.js"></script>
    <script src="../js/angular/angular-animate.min.js"></script>
    <script src="../js/rem.js"></script>
    <script src="../js/ionic.bundle.js"></script>
    <script src="../js/ionic.min.js"></script>
    <script src="../js/ionic.bundle.min.js"></script>

    <script src="../js/mobiscrolldatetime/js/mobiscroll.custom-2.17.0.min.js"></script>
    <script src="../js/common.js"></script>

</head>
<body ng-controller="exam">
<ion-tabs class="tabs-icon-only tabs-positive">

    <ion-tab title="Toggle" ng-controller="exam">

        <ion-header-bar class="bar-positive">
            <h1 class="title">Toggle - 开关</h1>
        </ion-header-bar>

        <ion-content has-tabs="true" on-refresh="onRefresh()" class="bg-gray i-buttons">
            <ion-list class="item-t20">
                <ion-item class="item-button-right">
                    Hello
                    <label class="toggle"><input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </ion-item>
            </ion-list>


        </ion-content>
    </ion-tab>

    <ion-tab title="Checkbox">
        <ion-header-bar class="bar-positive">
            <h1 class="title">Checkbox - 多选框</h1>
        </ion-header-bar>

        <ion-content has-header="true" class="bg-gray i-buttons">
            <ion-checkbox ng-model="emailNotification"
                          ng-true-value="'Subscribed'"
                          ng-false-value="'Unubscribed'">
                Newsletter
            </ion-checkbox>
        </ion-content>
    </ion-tab>
    <ion-tab title="Radio" >
        <ion-header-bar class="bar-positive">
            <h1 class="title">Radio Button - 单选框</h1>
        </ion-header-bar>
        <ion-content has-header="true" class="bg-gray ">
            <ion-radio ng-value="item.value"
                       ng-model="data.serverSide"
                       ng-change="serverSideChange(item)"
                       name="server-side">
                aaa
            </ion-radio>
            <ion-radio ng-value="item.value"
                       ng-model="data.serverSide"
                       ng-change="serverSideChange(item)"
                       name="server-side">
                bbb
            </ion-radio>
        </ion-content>
    </ion-tab>
    <ion-tab title="时间选择">
        <ion-header-bar class="bar-positive">
            <h1 class="title">Time Select - 时间选择</h1>
        </ion-header-bar>
        <ion-content has-header="true" class="bg-gray i-buttons">
            <input ng-model="mydate" type="text" mobiscroll-datetime="setVisitDateTime" readonly="readonly"
                   mobiscroll-instance="myInstance"/>
        </ion-content>
    </ion-tab>
    <ion-tab title="文字输入框">
        <ion-header-bar class="bar-positive">
            <h1 class="title">Input Dialogs - 文字输入框</h1>
        </ion-header-bar>
        <ion-content has-header="true" class="bg-gray i-buttons">
            <button class="button button-theme button-clear">主题色</button>
            <div class="text-center" maxlength="20"  ng-click="textInput()">点我呀！！！</div>
            <div ng-show="isShow">
                <div class="lockMask_input" on-swipe="onSwipe($event)"></div>
                <div class="mutil_input_wrap" on-swipe="onSwipe($event)">
                    <div class="mutil_input_box">
                        <div class="mutil_input_item" ng-repeat="item in viewList">
                            <span class="mutil_title">123</span>
                            <input class="mutil_input" ng-model="item.inputModel" />
                            <span class="editor_text_callback"><label>100</label>&nbsp;&frasl;&nbsp;<label>160</label></span>
                        </div>
                    </div>
                    <button type="button" class="button-cancel-callback" ng-click="cancel()">取消</button>
                    <button type="button" class="button-sure-callback" ng-click="sure()">确定</button>
                </div>
            </div>

        </ion-content>
    </ion-tab>
    <ion-tab title="底部选择列表">
        <ion-header-bar class="bar-positive">
            <h1 class="title">Footer Select List - 底部选择列表</h1>
        </ion-header-bar>
        <ion-content  class="bg-gray i-buttons">
            <div class="lhBtn" maxlength="20"  ng-click="showComboboxMask()">点我呀！！！</div>
            <div class="ComboboxMask" ng-style="{'display':comboboxData.isShow?'block':'none'}">
                <div class="lockMask"></div>
                <div class="ComboboxInfo">{{comboboxData.info}}</div>
                <div class="Select_list" >
                    <span ng-repeat="item in comboboxData.viewList" ng-click="hideComboboxMask()">{{item.name}}</span>
                </div>
            </div>
        </ion-content>
    </ion-tab>

</ion-tabs>

<!--<div class="tabs-striped tabs-color-assertive">-->
<!--<div class="tabs">-->
<!--<a class="tab-item active" href="#">-->
<!--<i class="icon ion-home"></i>-->
<!--测试-->
<!--</a>-->
<!--<a class="tab-item" href="#">-->
<!--<i class="icon ion-star"></i>-->
<!--收藏-->
<!--</a>-->
<!--<a class="tab-item" href="#">-->
<!--<i class="icon ion-gear-a"></i>-->
<!--设置-->
<!--</a>-->
<!--</div>-->

</body>
</html>