<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>test</title>
    <link href="../js/mobiscrolldatetime/css/mobiscroll.custom-2.17.0.min.css" rel="stylesheet">
    <link href="../css/ionic.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/common.css" rel="stylesheet">
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/angular/angular.js"></script>
    <script src="../js/angular/angular-animate.min.js"></script>
    <script src="../js/rem.js"></script>
    <script src="../js/ionic.bundle.js"></script>
    <script src="../js/ionic.min.js"></script>
    <script src="../js/ionic.bundle.min.js"></script>

    <script src="../js/mobiscrolldatetime/js/mobiscroll.custom-2.17.0.min.js"></script>
    <script src="../js/common.js"></script>
</head>
<body ng-controller="exam" style="background-color: #dfe3ed;">

<ion-tabs class="tabs-icon-only tabs-positive">
    <ion-tab title="场景提示样式" ng-controller="exam">
        <ion-header-bar class="bar-positive">
            <h1 class="title">场景提示样式</h1>
        </ion-header-bar>
        <ion-content has-tabs="true" on-refresh="onRefresh()" class="bg-gray i-buttons">
            <h3>场景冻结</h3>
            <div class="sencesize">
                <div class="new_sence_lock">
                    <div class="active_refreze_btn"></div>
                </div>
            </div>
            <h3>场景已截止</h3>
            <div class="sencesize">
                <div class="sence_timeout">

                </div>
            </div>
        </ion-content>
    </ion-tab>

    <ion-tab title="遮罩提示" ng-controller="exam">
        <ion-header-bar class="bar-positive">
            <h1 class="title">遮罩提示</h1>
        </ion-header-bar>
        <ion-content has-tabs="true" on-refresh="onRefresh()" class="bg-gray i-buttons">
            <!--<button class="button button-large button-theme" ng-click="showLockMask_btn1()">显示遮罩</button>-->
            <!--{{lockMask_btn1}}-->
            <div style="width: 640px;height: 500px;">
                <div class="lockMask"></div>
                <button type="button" class="lockMask_btn1" ng-click="hideMask()"></button>
            </div>
        </ion-content>
    </ion-tab>

    <ion-tab title="错误页面" ng-controller="exam">
        <ion-header-bar class="bar-positive">
            <h1 class="title">错误页面</h1>
        </ion-header-bar>
        <ion-content has-tabs="true" on-refresh="onRefresh()" class="bg-gray i-buttons">
            <div class="error_page2" style="width: 320px; height: 524px;">
                <div class="error_page_text2">你好像来到了未知的星球</div>
                <div class="error_page_text3">非常抱歉<br/>您查看的场景已经下架啦~</div>
                <button class="back_to_homepage">点我返回</button>
            </div>
        </ion-content>
    </ion-tab>

    <ion-tab title="音乐播放图标" ng-controller="exam">
        <ion-header-bar class="bar-positive">
            <h1 class="title">音乐播放图标</h1>
        </ion-header-bar>
        <ion-content has-tabs="true" on-refresh="onRefresh()" class="bg-gray i-buttons">
            <div style="width: 320px; height: 490px;">
                <div ng-class="audioPosClass" class="audio_pos audio_upper_left">
                    <button type="button" class="btnG3_music"></button>
                </div>
                <div ng-class="audioPosClass" class="audio_pos audio_upper_right">
                    <button type="button" class="btnG3_musicon"></button>
                </div>
                <div ng-class="audioPosClass" class="audio_pos audio_bottom_left">
                    <button type="button" class="btnG3_musicon"></button>
                </div>
                <div ng-class="audioPosClass" class="audio_pos audio_bottom_right">
                    <button type="button" class="btnG3_music"></button>
                </div>
            </div>
        </ion-content>
    </ion-tab>

    <ion-tab title="顶部提示" ng-controller="exam">
        <ion-header-bar class="bar-positive">
            <h1 class="title">顶部提示</h1>
        </ion-header-bar>
        <ion-content has-tabs="true" on-refresh="onRefresh()" class="bg-gray i-buttons">
            <h3>中性提示</h3>
            <div class="top-alert-warn">
                你的网络环境不佳，请在wifi下打开
            </div>
            <br>
            <div class="top-alert-warn">
                <div class="alert-close">你的网络环境不佳，请在wifi下打开</div>
            </div>
            <h3>错误提示</h3>
            <div class="top-alert-error">
                您的微官网包含敏感词汇，请重新修改！
            </div>
            <br>
            <div class="top-alert-error">
                <div class="alert-close">您的微官网包含敏感词汇，请重新修改！</div>
            </div>
            <h3>成功提示</h3>
            <div class="top-alert-success">
                操作成功！
            </div>
            <br>
            <div class="top-alert-success">
                <div class="alert-close">操作成功！</div>
            </div>
        </ion-content>
    </ion-tab>

</ion-tabs>

</body>
</html>