//*css reset
//----------------------
//作者：陈天宇
//时间：2016年8月25日
//邮箱：tianyu.chen@xiaobao100.com | cty8998@163.com
//说明：参考至 http://m.taobao.com 的reset文件进行初始化样式，不推荐使用 *{margin:0;padding:0},会清除一些元素需要的样式
//----------------------

html {
    color: #000;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html * {
    box-sizing: border-box;
    outline: 0;
    -webkit-text-size-adjust: none;
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0)//触摸反馈（增加黑色区域）
}

html,
body {
    font-family: "San Francisco", "Roboto", "PingFang SC", "Noto Sans CJK SC", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,
blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,
section {
    margin: 0;
    padding: 0
}

input,select,textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,img {
    border: 0
}

abbr,acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

address,caption,cite,code,dfn,em,th,var {
    font-style: normal;
    font-weight: 500
}

ol,ul {
    list-style: none
}

caption,th {
    text-align: left
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 500
}

q:before,
q:after {
    content: ''
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

a:hover {
    text-decoration: underline
}

ins,a {
    text-decoration: none
}
